<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pinheiro Clube</title>
    <link rel="stylesheet" href="../static/css/style2.css">
</head>
<body>
    <section class="secao_logo">
        <h1 class="titulo_clube">Pinheiro Clube</h1>
        <img src="../static/images/logo.png" alt="Logo do Pinheiro Clube">
    </section>

    <section>
        <h2>Criar uma nova conta</h2>
        <h3>Já tem uma conta? Login</h3>
    </section>

    <section class="secao_cadastro">
        <header>
            <h4>NOME COMPLETO DO USUÁRIO</h4>
            <h4>CPF</h4>
            <h4>E-MAIL</h4>
            <h4>DATA DE NASCIMENTO</h4>
            <h4>NOVA SENHA PARA LOGIN</h4>
        </header>
    </section>

    <section>
        <button class="botao-login">Criar conta</button>
    </section>

</body>
</html>